* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/*header and navigation styles*/
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom, left;
    background-size: contain;
    height: max-content;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
    color: white;
}

/* Banner Styles */
.banner {
    display: flex;
    margin: 0 200px;
    /* align-items: center; */
    justify-content: space-between;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* About section styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */

.what-i-do {
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skills {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skills-title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}

.skills-description {
    margin-top: 20px;
    color: #757575;
}

/* resume styles */
.resume-content {
    display: flex;
    gap: 24px;
    margin-top: 113px;
}

.resume-title {}

.resume-items {
    margin: 30px 0;
}

.resume .title {
    margin-bottom: 10px;
}

.resume .sub-title {
    margin-bottom: 20px;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

/* footer */
footer {
    margin-top: 113px;
    background: #FFF8F3;
}

.contact {
    display: flex;
    gap: 117px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 0;
}

.contact .section-title {
    text-align: left;
}

.contact-description {
    color: #474747;
    margin-bottom: 30px;
}

.connect>a>img {
    margin-right: 24px;
}

form > input[type=text], input[type=email],
textarea {
    height: 64px;
    width: 100%;
    margin-bottom: 24px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px;
}
textarea{
    height: auto;
    padding-top: 18px;
}